<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li><a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item nav-link" href="#">Save Data</a></li>
            <li><a class="dropdown-item nav-link" href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
